.icon-scroller-left,.icon-scroller-right,.icon-close {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-scroller-left {
	background-position: 0 0;
}
.icon-scroller-right {
	background-position: -32px 0;
}
.icon-close {
	background-position: -64px 0;
}
