.icon-button-left,.icon-button-down,.icon-button-right,.icon-button-up {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-button-left {
	background-position: 0 0;
}
.icon-button-down {
	background-position: -32px 0;
}
.icon-button-right {
	background-position: 0 -32px;
}
.icon-button-up {
	background-position: -32px -32px;
}
