html,
body,
form,
label,
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border-width: 0;
}

:focus {
  outline: none;
}

body {
  font-weight: normal;
  font-size: 11px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  line-height: 1.5em;
  color: #333333;
  background-color: #fbfbfb;
}

.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

.col, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  float: left;
  margin-left: 1.5%;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.col:first-child, .col1:first-child, .col2:first-child, .col3:first-child, .col4:first-child, .col5:first-child, .col6:first-child, .col7:first-child, .col8:first-child, .col9:first-child, .col10:first-child, .col11:first-child, .col12:first-child {
  margin-left: 0;
}

.col1 {
  width: 6.95833%;
}

.col2 {
  width: 15.41667%;
}

.col3 {
  width: 23.875%;
}

.col4 {
  width: 32.33333%;
}

.col5 {
  width: 40.79167%;
}

.col6 {
  width: 49.25%;
}

.col7 {
  width: 57.70833%;
}

.col8 {
  width: 66.16667%;
}

.col9 {
  width: 74.625%;
}

.col10 {
  width: 83.08333%;
}

.col11 {
  width: 91.54167%;
}

.col12 {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
}

h1,
h2,
h3 {
  line-height: 24px;
}

h4,
h5,
h6 {
  line-height: 16px;
}

p {
  font-size: 13px;
  font-weight: normal;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  line-height: 16px;
}

.panel {
  overflow: hidden;
  text-align: left;
}

.panel-header,
.panel-body {
  border-width: 1px;
  border-style: solid;
}

.panel-header {
  padding: 10px;
  position: relative;
}

.panel-title {
  background: url('images/blank.gif') no-repeat;
}

.panel-header-noborder {
  border-width: 0 0 1px 0;
}

.panel-body {
  overflow: auto;
  border-top-width: 0px;
}

.panel-body-noheader {
  border-top-width: 0px;
}

.panel-body-noborder {
  border-width: 0px;
}

.panel-with-icon {
  padding-left: 26px;
}

.panel-icon,
.panel-tool {
  position: absolute;
  top: 10px;
  height: 16px;
  overflow: hidden;
}

.panel-icon {
  left: 10px;
  width: 16px;
}

.panel-tool {
  right: 10px;
  width: auto;
}

.panel-tool a {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  margin: 0 0 0 4px;
  vertical-align: top;
}

.panel-tool a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.panel-loading {
  padding: 11px 0px 10px 30px;
}

.panel-noscroll {
  overflow: hidden;
}

.panel-fit,
.panel-fit body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.panel-loading {
  background: url('images/loading.gif') no-repeat 10px 10px;
}

.panel-tool-close {
  background: url('images/panel_tools.png') no-repeat -16px 0px;
}

.panel-tool-min {
  background: url('images/panel_tools.png') no-repeat 0px 0px;
}

.panel-tool-max {
  background: url('images/panel_tools.png') no-repeat 0px -16px;
}

.panel-tool-restore {
  background: url('images/panel_tools.png') no-repeat -16px -16px;
}

.panel-tool-collapse {
  background: url('images/panel_tools.png') no-repeat -32px 0;
}

.panel-tool-expand {
  background: url('images/panel_tools.png') no-repeat -32px -16px;
}

.panel-header,
.panel-body {
  border-color: #34495e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.panel-header {
  background-color: #34495e;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.panel-body {
  background-color: #fff;
  color: #333333;
  font-size: 13px;
}

.panel-title {
  font-size: 13px;
  font-weight: normal;
  color: #fbfbfb;
  height: 16px;
  line-height: 16px;
}

.accordion {
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
}

.accordion .accordion-header {
  border-width: 0 0 1px;
  cursor: pointer;
}

.accordion .accordion-body {
  border-width: 0 0 1px;
}

.accordion-noborder {
  border-width: 0;
}

.accordion-noborder .accordion-header {
  border-width: 0 0 1px;
}

.accordion-noborder .accordion-body {
  border-width: 0 0 1px;
}

.accordion-collapse {
  background: url('images/accordion_arrows.png') no-repeat 0 0;
}

.accordion-expand {
  background: url('images/accordion_arrows.png') no-repeat -16px 0;
}

.accordion {
  background: #fff;
  border-color: #ddd;
}

.accordion .accordion-header {
  background: #ffffff;
  filter: none;
}

.accordion .accordion-header-selected {
  background: #CCE6FF;
}

.accordion .accordion-header-selected .panel-title {
  color: #000;
}

.window {
  overflow: hidden;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
}

.window .window-header {
  background: transparent;
  padding: 6px 10px 10px 10px;
}

.window .window-body {
  border-width: 1px;
  border-style: solid;
  border-top-width: 0px;
}

.window .window-body-noheader {
  border-top-width: 1px;
}

.window .window-header .panel-icon,
.window .window-header .panel-tool {
  top: 7px;
}

.window .window-header .panel-icon {
  left: 1px;
}

.window .window-header .panel-tool {
  right: 10px;
}

.window .window-header .panel-with-icon {
  padding-left: 18px;
}

.window-proxy {
  position: absolute;
  overflow: hidden;
}

.window-proxy-mask {
  position: absolute;
  filter: alpha(opacity=5);
  opacity: 0.05;
}

.window-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=40);
  opacity: 0.40;
  font-size: 1px;
  *zoom: 1;
  overflow: hidden;
}

.window,
.window-shadow {
  position: absolute;
}

.window-shadow {
  background: #eee;
  -moz-box-shadow: 2px 2px 3px #ededed;
  -webkit-box-shadow: 2px 2px 3px #ededed;
  box-shadow: 2px 2px 3px #ededed;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}

.window,
.window .window-body {
  border-color: #34495e;
}

.window {
  background-color: #34495e;
}

.window-proxy {
  border: 1px dashed #ddd;
}

.window-proxy-mask,
.window-mask {
  background: rgba(0,0,0,.1);
}

.dialog-content {
  overflow: auto;
}

.dialog-toolbar {
  padding: 2px 5px;
}

.dialog-tool-separator {
  float: left;
  height: 24px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  margin: 2px 1px;
}

.dialog-button {
  padding: 4px;
  text-align: right;
}

.dialog-button .l-btn {
}

.dialog-toolbar,
.dialog-button {
  background: #ecf0f1;
}

.dialog-toolbar {
  border-bottom: 1px solid #ddd;
}

.dialog-button {
  border-top: 1px solid #ecf0f1;
}

.combo {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0 !important;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  vertical-align: middle;
}

.combo .combo-text {
  font-size: 13px;
  border: 0px;
  line-height: 16px !important;
  height: 24px;
  margin: 0;
  padding: 4px;
  *margin-top: -1px;
  *height: 18px;
  *line-height: 18px;
  _height: 24px;
  _line-height: 16px;
  vertical-align: baseline;
}

.combo-arrow {
  width: 18px;
  height: 24px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.combo-arrow-hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.combo-panel {
  overflow: auto;
  border-color: #ecf0f1;
}

.combo-arrow {
  background: url('images/combo_arrow.png') no-repeat center center;
}

.combo,
.combo-panel {
  background-color: #fff;
}

.combo {
  border-color: #ecf0f1;
  background-color: #fff;
}

.combo-arrow {
  background-color: #ffffff;
}

.cart-field .combo-arrow-hover {
  height: 34px !important;
  background-color: #bdc3c7;    
}

.combobox-item {
  padding: 4px 10px;
  font-size: 13px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  border-width: 1px 0px;
}

.combobox-item-hover {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  color: #333333;
  cursor: pointer;
}

.combobox-item-selected {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  color: #333333;
}

.layout {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.layout-panel {
  position: absolute;
  overflow: hidden;
}

.layout-panel-east,
.layout-panel-west {
  z-index: 2;
}

.layout-panel-north,
.layout-panel-south {
  z-index: 3;
}

.layout-expand {
  position: absolute;
  padding: 0px;
  font-size: 1px;
  cursor: pointer;
  z-index: 1;
}

.layout-expand .panel-header,
.layout-expand .panel-body {
  background: #34495e;
  filter: none;
  overflow: hidden;
}

.layout-expand .panel-header {
  border-bottom-width: 0px;
}

.layout-split-proxy-h,
.layout-split-proxy-v {
  position: absolute;
  font-size: 1px;
  display: none;
  z-index: 5;
}

.layout-split-proxy-h {
  width: 8px;
  cursor: e-resize;
}

.layout-split-proxy-v {
  height: 8px;
  cursor: n-resize;
}

.layout-mask {
  position: absolute;
  background: #fafafa;
  filter: alpha(opacity=10);
  opacity: 0.10;
  z-index: 4;
}

.layout-button-up {
  background: url('images/layout_arrows.png') no-repeat -16px -16px;
}

.layout-button-down {
  background: url('images/layout_arrows.png') no-repeat -16px 0;
}

.layout-button-left {
  background: url('images/layout_arrows.png') no-repeat 0 0;
}

.layout-button-right {
  background: url('images/layout_arrows.png') no-repeat 0 -16px;
}

.layout-split-proxy-h,
.layout-split-proxy-v {
  background-color: rgba(149, 165, 166, 0.5);
}

.layout-split-north {
  border-bottom: 8px solid #95a5a6;
}

.layout-split-south {
  border-top: 8px solid #95a5a6;
}

.layout-split-east {
  border-left: 8px solid #95a5a6;
}

.layout-split-west {
  border-right: 8px solid #95a5a6;
}

.layout-expand {
  background-color: #ffffff;
}

.layout-expand-over {
  background-color: #ffffff;
}

.tabs-container {
  overflow: hidden;
}

.tabs-header {
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.tabs-header-plain {
  border: 0;
  background: transparent;
}

.tabs-scroller-left,
.tabs-scroller-right {
  position: absolute;
  top: auto;
  bottom: 0;
  width: 18px;
  height: 28px !important;
  height: 30px;
  font-size: 1px;
  display: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.tabs-scroller-left {
  left: 0;
}

.tabs-scroller-right {
  right: 0;
}

.tabs-header-plain .tabs-scroller-left,
.tabs-header-plain .tabs-scroller-right {
  height: 25px !important;
  height: 27px;
}

.tabs-tool {
  position: absolute;
  bottom: 0;
  padding: 1px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
}

.tabs-header-plain .tabs-tool {
  padding: 0 1px;
}

.tabs-wrap {
  position: relative;
  left: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.tabs-scrolling {
  margin-left: 18px;
  margin-right: 18px;
}

.tabs-disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.tabs {
  list-style-type: none;
  height: 30px;
  margin: 0px;
  padding: 0px;
  width: 5000px;
  border-style: solid;
  border-width: 0 0 0 0;
}

.tabs li {
  float: left;
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0;
  position: relative;
  border: 0;
}

.tabs li a.tabs-inner {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
}

.tabs li.tabs-selected a.tabs-inner {
  font-weight: normal;
  outline: none;
}

.tabs li.tabs-selected a:hover.tabs-inner {
  cursor: default;
  pointer: default;
}

.tabs li a.tabs-close,
.tabs-p-tool {
  position: absolute;
  font-size: 1px;
  display: block;
  height: 12px;
  padding: 0;
  top: 7px;
  overflow: hidden;
}

.tabs li a.tabs-close {
  width: 12px;
  right: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.tabs-p-tool {
  right: 16px;
}

.tabs-p-tool a {
  display: inline-block;
  font-size: 1px;
  width: 12px;
  height: 12px;
  margin: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.tabs li a:hover.tabs-close,
.tabs-p-tool a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: hand;
  cursor: pointer;
}

.tabs-with-icon {
  padding-left: 18px;
}

.tabs-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 50%;
  margin-top: -8px;
}

.tabs-title {
  font-size: 13px;
}

.tabs-closable {
  padding-right: 26px;
}

.tabs-panels {
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-top-width: 0;
  overflow: hidden;
}

.tabs-header-bottom {
  border-width: 0 1px 1px 1px;
  padding: 0 0 2px 0;
}

.tabs-header-bottom .tabs {
  border-width: 1px 0 0 0;
}

.tabs-header-bottom .tabs li {
  margin: -1px 4px 0 0;
}

.tabs-header-bottom .tabs li a.tabs-inner {
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
  border-radius: 0 0 0px 0px;
}

.tabs-header-bottom .tabs-tool {
  top: 0;
}

.tabs-header-bottom .tabs-scroller-left,
.tabs-header-bottom .tabs-scroller-right {
  top: 0;
  bottom: auto;
}

.tabs-panels-top {
  border-width: 1px 1px 0 1px;
}

.tabs-header-left {
  float: left;
  border-width: 1px 0 1px 1px;
  padding: 0;
}

.tabs-header-right {
  float: right;
  border-width: 1px 1px 1px 0;
  padding: 0;
}

.tabs-header-left .tabs-wrap,
.tabs-header-right .tabs-wrap {
  height: 100%;
}

.tabs-header-left .tabs {
  height: 100%;
  padding: 4px 0 0 4px;
  border-width: 0 1px 0 0;
}

.tabs-header-right .tabs {
  height: 100%;
  padding: 4px 4px 0 0;
  border-width: 0 0 0 1px;
}

.tabs-header-left .tabs li,
.tabs-header-right .tabs li {
  display: block;
  width: 100%;
  position: relative;
}

.tabs-header-left .tabs li {
  left: auto;
  right: 0;
  margin: 0 -1px 4px 0;
  float: right;
}

.tabs-header-right .tabs li {
  left: 0;
  right: auto;
  margin: 0 0 4px -1px;
  float: left;
}

.tabs-header-left .tabs li a.tabs-inner {
  display: block;
  text-align: left;
  -moz-border-radius: 0px 0 0 0px;
  -webkit-border-radius: 0px 0 0 0px;
  border-radius: 0px 0 0 0px;
}

.tabs-header-right .tabs li a.tabs-inner {
  display: block;
  text-align: left;
  -moz-border-radius: 0 0px 0px 0;
  -webkit-border-radius: 0 0px 0px 0;
  border-radius: 0 0px 0px 0;
}

.tabs-panels-right {
  float: right;
  border-width: 1px 1px 1px 0;
}

.tabs-panels-left {
  float: left;
  border-width: 1px 0 1px 1px;
}

.tabs-header-noborder,
.tabs-panels-noborder {
  border: 0px;
}

.tabs-header-plain {
  border: 0px;
  background: transparent;
}

.tabs-scroller-left {
  background: #7f8c8d url('images/tabs_icons.png') no-repeat 1px center;
}

.tabs-scroller-right {
  background: #7f8c8d url('images/tabs_icons.png') no-repeat -15px center;
}

.tabs li a.tabs-close {
  background: url('images/tabs_icons.png') no-repeat -34px center;
}

.tabs li a.tabs-inner:hover {
  background: #7f8c8d;
  border-color: #7f8c8d;
  color: #fbfbfb;
  filter: none;
}

.tabs li.tabs-selected a.tabs-inner {
  background-color: #ecf0f1;
  color: #333333;
}

.tabs li a.tabs-inner {
  color: #fbfbfb;
  background-color: #95a5a6;
}

.tabs-header,
.tabs-tool {
  background-color: #34495e;
}

.tabs-header-plain {
  background: transparent;
}

.tabs-header,
.tabs-scroller-left,
.tabs-scroller-right,
.tabs-tool,
.tabs,
.tabs-panels,
.tabs li a.tabs-inner,
.tabs li.tabs-selected a.tabs-inner,
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner,
.tabs-header-left .tabs li.tabs-selected a.tabs-inner,
.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  border-color: #34495e;
}

.tabs-p-tool a:hover, .tabs-scroller-over {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}

.tabs li.tabs-selected a.tabs-inner {
  border-color: #ecf0f1;
}

.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner {
  border-top: 1px solid #fff;
}

.tabs-header-left .tabs li.tabs-selected a.tabs-inner {
  border-right: 1px solid #fff;
}

.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  border-left: 1px solid #fff;
}

a.l-btn {
  background-position: right 0;
  text-decoration: none;
  display: inline-block;
  zoom: 1;
  height: 24px;
  padding-right: 4px;
  cursor: pointer;
  outline: none;
}

a.l-btn-plain {
}

a.l-btn-disabled {
  color: #ccc;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}

a.l-btn span.l-btn-left {
  display: inline-block;
  padding: 4px 4px 4px 8px;
  line-height: 16px;
  height: 16px;
}

a.l-btn-plain span.l-btn-left {
}

a.l-btn span span.l-btn-text {
  display: inline-block;
  vertical-align: baseline;
  width: auto;
  height: 16px;
  line-height: 16px;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

a.l-btn span span.l-btn-icon-left {
  padding: 0 0 0 26px;
  background-position: left center;
}

a.l-btn span span.l-btn-icon-right {
  padding: 0 20px 0 0;
  background-position: right center;
}

a.l-btn span span span.l-btn-empty {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 16px;
}

a:hover.l-btn {
  outline: none;
  text-decoration: none;
}

a:hover.l-btn span.l-btn-left {
  background-position: 0 bottom;
}

a:hover.l-btn-plain {
}

a:hover.l-btn-disabled {
  background-position: right 0;
}

a:hover.l-btn-disabled span.l-btn-left {
  background-position: 0 -48px;
}

a.l-btn .l-btn-focus {
  outline: none;
}

a.l-btn {
  color: #333333;
  background: #fbfbfb;
  border: 1px solid #dfdfdf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(251, 251, 251, 0.1)), color-stop(50%, rgba(251, 251, 251, 0.1)), color-stop(51%, rgba(51, 51, 51, 0.1)), color-stop(100%, rgba(51, 51, 51, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: -moz-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: -o-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

a.l-btn span.l-btn-left {
}

a:hover.l-btn {
  background: #ecf0f1;
  color: #333333;
  border: 1px solid #bfbfbf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(251, 251, 251, 0.1)), color-stop(50%, rgba(251, 251, 251, 0.1)), color-stop(51%, rgba(51, 51, 51, 0.1)), color-stop(100%, rgba(51, 51, 51, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: -moz-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: -o-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

a.l-btn-plain,
a.l-btn-plain span.l-btn-left {
  color: #333333;
  border-color: transparent;
  background: transparent;
}

a:hover.l-btn-plain {
  color: #7f8c8d;
  background-color: #fbfbfb;
  border: 1px solid #dfdfdf;
}

a.l-btn-disabled,
a:hover.l-btn-disabled {
  color: #777;
  filter: alpha(opacity=50);
  background: #ffffff;
  color: #777;
  background: -webkit-linear-gradient(top,#ffffff 0,#ffffff 100%);
  background: -moz-linear-gradient(top,#ffffff 0,#ffffff 100%);
  background: -o-linear-gradient(top,#ffffff 0,#ffffff 100%);
  background: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff,GradientType=0);
  filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff,GradientType=0);
}

a.l-btn-plain-disabled,
a:hover.l-btn-plain-disabled {
  background: transparent;
  filter: alpha(opacity=50);
}

a.l-btn-selected,
a:hover.l-btn-selected {
  background-position: right -24px;
  background: #ddd;
  filter: none;
}

a.l-btn-selected span.l-btn-left,
a:hover.l-btn-selected span.l-btn-left {
  background-position: 0 bottom;
  background-image: none;
}

a.l-btn-plain-selected,
a:hover.l-btn-plain-selected {
  background: #ddd;
}

.datagrid .panel-body {
  overflow: hidden;
  position: relative;
}

.datagrid-view {
  position: relative;
  overflow: hidden;
}

.datagrid-view1,
.datagrid-view2 {
  position: absolute;
  overflow: hidden;
  top: 0;
}

.datagrid-view1 {
  left: 0;
}

.datagrid-view2 {
  right: 0;
}

.datagrid-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: alpha(opacity=30);
  display: none;
}

.datagrid-mask-msg {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding: 12px 5px 10px 30px;
  width: auto;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  display: none;
}

.datagrid-sort-icon {
  padding: 0;
}

.datagrid-toolbar {
  height: auto;
  padding: 4px 4px 4px 4px;
  border-width: 0 0 1px 0;
  border-style: solid;
}

.datagrid-btn-separator {
  float: left;
  height: 24px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  margin: 2px 1px;
}

.datagrid .datagrid-pager {
  margin: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.datagrid .datagrid-pager-top {
  border-width: 0 0 1px 0;
}

.datagrid-header {
  overflow: hidden;
  cursor: default;
  border-width: 0 0 1px 0;
  border-style: solid;
}

.datagrid-header-inner {
  float: left;
  width: 10000px;
}

.datagrid-header-row,
.datagrid-row {
  height: 30px;
}

.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
  border-width: 0 1px 1px 0;
  border-style: solid;
  margin: 0;
  padding: 0;
}

.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  margin: 0;
  padding: 6px 10px;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  height: 16px;
  line-height: 16px;
  font-weight: normal;
  font-size: 11px;
}

.datagrid-header .datagrid-cell {
  height: auto;
}

.datagrid-header .datagrid-cell span {
  font-size: 13px;
}

.datagrid-cell-group {
  text-align: center;
}

.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  width: 25px;
  text-align: center;
  margin: 0;
  padding: 6px 0px;
}

.datagrid-body {
  margin: 0;
  padding: 0;
  overflow: auto;
  zoom: 1;
}

.datagrid-view1 .datagrid-body-inner {
  padding-bottom: 20px;
}

.datagrid-view1 .datagrid-body {
  overflow: hidden;
}

.datagrid-footer {
  overflow: hidden;
}

.datagrid-footer-inner {
  border-width: 1px 0 0 0;
  border-style: solid;
  width: 10000px;
  float: left;
}

.datagrid-row-editing .datagrid-cell {
  height: auto;
}

.datagrid-header-check,
.datagrid-cell-check {
  padding: 0;
  width: 27px;
  height: 18px;
  font-size: 1px;
  text-align: center;
  overflow: hidden;
}

.datagrid-header-check input,
.datagrid-cell-check input {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 18px;
}

.datagrid-resize-proxy {
  position: absolute;
  width: 1px;
  height: 10000px;
  top: 0;
  cursor: e-resize;
  display: none;
}

.datagrid-body .datagrid-editable {
  margin: 0;
  padding: 0;
}

.datagrid-body .datagrid-editable table {
  width: 100%;
  height: 100%;
}

.datagrid-body .datagrid-editable td {
  border: 0;
  margin: 0;
  padding: 0;
}

.datagrid-body .datagrid-editable .datagrid-editable-input {
  margin: 0;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
}

.datagrid-sort-desc .datagrid-sort-icon {
  padding: 0 13px 0 0;
  background: url('images/datagrid_icons.png') no-repeat -16px center;
}

.datagrid-sort-asc .datagrid-sort-icon {
  padding: 0 13px 0 0;
  background: url('images/datagrid_icons.png') no-repeat 0px center;
}

.datagrid-row-collapse {
  background: url('images/datagrid_icons.png') no-repeat -48px center;
}

.datagrid-row-expand {
  background: url('images/datagrid_icons.png') no-repeat -32px center;
}

.datagrid-mask-msg {
  background: #fff url('images/loading.gif') no-repeat scroll 5px center;
}

.datagrid-header {
  background-color: #ecf0f1;
}

.datagrid-cell-rownumber {
  color: #333333;
}

.datagrid-resize-proxy {
  background: #b3b3b3;
}

.datagrid-mask {
  background: #eee;
}

.datagrid-mask-msg {
  border-color: #ddd;
}

.datagrid-toolbar,
.datagrid-pager {
  background: #fff;
}

.datagrid-header,
.datagrid-toolbar,
.datagrid-pager,
.datagrid-footer-inner {
  border-color: #bdc3c7;
}

.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
  border-color: #ecf0f1 #bdc3c7;
}

.datagrid-htable,
.datagrid-btable,
.datagrid-ftable {
  color: #333333;
}

.datagrid-row-alt {
  background: #fbfbfb;
}

.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
  background: #f9f9f9;
  color: #333333;
  cursor: pointer;
}

.datagrid-row-selected {
  background: #ecf0f1;
  color: #333333;
}

.datagrid-body .datagrid-editable .datagrid-editable-input {
  border-color: #ddd;
}

.propertygrid .datagrid-view1 .datagrid-body td {
  padding-bottom: 1px;
  border-width: 0 1px 0 0;
}

.propertygrid .datagrid-group {
  height: 21px;
  overflow: hidden;
  border-width: 0 0 1px 0;
  border-style: solid;
}

.propertygrid .datagrid-group span {
  font-weight: bold;
}

.propertygrid .datagrid-view1 .datagrid-body td {
  border-color: #ddd;
}

.propertygrid .datagrid-view1 .datagrid-group {
  border-color: #ffffff;
}

.propertygrid .datagrid-view2 .datagrid-group {
  border-color: #ddd;
}

.propertygrid .datagrid-group,
.propertygrid .datagrid-view1 .datagrid-body,
.propertygrid .datagrid-view1 .datagrid-row-over,
.propertygrid .datagrid-view1 .datagrid-row-selected {
  background: #ffffff;
}

.pagination {
  zoom: 1;
}

.pagination table {
  float: left;
  height: 30px;
}

.pagination td {
  border: 0;
}

.pagination-btn-separator {
  float: left;
  height: 24px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  margin: 3px 1px;
}

.pagination .pagination-num {
  border-width: 1px;
  border-style: solid;
  margin: 0 2px;
  padding: 2px;
  width: 2em;
  height: auto;
}

.pagination-page-list {
  margin: 0px 6px;
  padding: 1px 2px;
  width: auto;
  height: auto;
  border-width: 1px;
  border-style: solid;
}

.pagination-info {
  float: right;
  margin: 0 6px 0 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.pagination span {
  font-size: 12px;
}

.pagination-first {
  background: url('images/pagination_icons.png') no-repeat 0 0;
}

.pagination-prev {
  background: url('images/pagination_icons.png') no-repeat -16px 0;
}

.pagination-next {
  background: url('images/pagination_icons.png') no-repeat -32px 0;
}

.pagination-last {
  background: url('images/pagination_icons.png') no-repeat -48px 0;
}

.pagination-load {
  background: url('images/pagination_icons.png') no-repeat -64px 0;
}

.pagination-loading {
  background: url('images/loading.gif') no-repeat;
}

.pagination-page-list,
.pagination .pagination-num {
  border-color: #ddd;
}

.calendar {
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.calendar table {
  border-collapse: separate;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

.calendar table td,
.calendar table th {
  font-size: 11px;
  font-weight: normal;
  height: 24px;
  width: 24px;
}

.calendar-noborder {
  border: 0;
}

.calendar-header {
  position: relative;
  height: 30px;
}

.calendar-title {
  text-align: center;
  height: 30px;
  color: #fbfbfb;
}

.calendar-title span {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  height: 16px;
  line-height: 16px;
  font-size: 13px;
  cursor: pointer;
}

.calendar-prevmonth,
.calendar-nextmonth,
.calendar-prevyear,
.calendar-nextyear {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  font-size: 1px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.calendar-prevmonth {
  left: 20px;
  background: url('images/calendar_arrows.png') no-repeat -18px -2px;
}

.calendar-nextmonth {
  right: 20px;
  background: url('images/calendar_arrows.png') no-repeat -34px -2px;
}

.calendar-prevyear {
  left: 3px;
  background: url('images/calendar_arrows.png') no-repeat -1px -2px;
}

.calendar-nextyear {
  right: 3px;
  background: url('images/calendar_arrows.png') no-repeat -49px -2px;
}

.calendar-body {
  position: relative;
}

.calendar-body th,
.calendar-body td {
  text-align: center;
}

.calendar-day {
  border: 0;
  padding: 1px;
  cursor: pointer;
}

.calendar-other-month {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.calendar-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 150px;
  padding: 5px;
  font-size: 12px;
  display: none;
  overflow: hidden;
}

.calendar-menu-year-inner {
  text-align: center;
  padding-bottom: 5px;
}

.calendar-menu-year {
  width: 40px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  margin: 0;
  padding: 2px;
  font-weight: normal;
  font-size: 12px;
}

.calendar-menu-prev,
.calendar-menu-next {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: top;
  cursor: pointer;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.calendar-menu-prev {
  margin-right: 10px;
  background: url('images/calendar_arrows.png') no-repeat 2px 2px;
}

.calendar-menu-next {
  margin-left: 10px;
  background: url('images/calendar_arrows.png') no-repeat -45px 2px;
}

.calendar-menu-month {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.calendar-body th,
.calendar-menu-month {
  color: #333333;
}

.calendar-day {
  color: #333333;
}

.calendar-sunday {
  color: #333333;
}

.calendar-saturday {
  color: #333333;
}

.calendar-today {
  color: #1abc9c;
}

.calendar-menu-year {
  border-color: #ecf0f1;
}

.calendar {
  border-color: #95a5a6;
}

.calendar-header {
  background: #34495e;
}

.calendar-body,
.calendar-menu {
  background: #fff;
}

.calendar-body th {
  background: #95a5a6;
  color: #fbfbfb;
}

.calendar-hover,
.calendar-nav-hover,
.calendar-menu-hover {
  background-color: #ecf0f1;
  color: #333333;
}

.calendar-hover {
  border: 1px solid #ecf0f1;
  padding: 0;
}

.calendar-selected {
  background-color: #1abc9c;
  color: #fbfbfb;
  border: 1px solid #1abc9c;
  padding: 0;
}

.datebox-calendar-inner {
  height: 204px;
}

.datebox-button {
  height: 24px;
  padding: 4px 10px;
  font-size: 0px;
}

.datebox-button a {
  font-size: 11px;
  position: relative;
  top: 2px;
}

.datebox-current,
.datebox-close,
.datebox-ok {
  text-decoration: none;
  font-weight: normal;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.datebox-current,
.datebox-close {
  float: left;
}

.datebox-close {
  float: right;
}

.datebox-button-hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.datebox .combo-arrow {
  background-image: url('images/datebox_arrow.png');
  background-position: center center;
}

.datebox-button {
  background-color: #ecf0f1;
}

.datebox-current,
.datebox-close,
.datebox-ok {
  color: #333333;
  padding: 2px 4px;
  background-color: #fbfbfb;
  border: 1px solid #bdc3c7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(251, 251, 251, 0.1)), color-stop(50%, rgba(251, 251, 251, 0.1)), color-stop(51%, rgba(51, 51, 51, 0.1)), color-stop(100%, rgba(51, 51, 51, 0.1)));  background-image: -webkit-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));  background-image: -moz-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));  background-image: -o-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));  background-image: linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));  -webkit-border-radius: 3px;  -moz-border-radius: 3px;  -ms-border-radius: 3px;  -o-border-radius: 3px;  border-radius: 3px;
}

.spinner {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  vertical-align: middle;
}

.spinner .spinner-text {
  font-size: 12px;
  border: 0px;
  line-height: 20px;
  height: 20px;
  margin: 0;
  padding: 0 2px;
  *margin-top: -1px;
  *height: 18px;
  *line-height: 18px;
  _height: 18px;
  _line-height: 18px;
  vertical-align: baseline;
}

.spinner-arrow {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.spinner-arrow-up,
.spinner-arrow-down {
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: block;
  font-size: 1px;
  width: 18px;
  height: 10px;
}

.spinner-arrow-hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.spinner-arrow-up {
  background: url('images/spinner_arrows.png') no-repeat 1px center;
}

.spinner-arrow-down {
  background: url('images/spinner_arrows.png') no-repeat -15px center;
}

.spinner {
  border-color: #ddd;
}

.spinner-arrow {
  background-color: #ffffff;
}

.spinner-arrow-hover {
  background-color: #E6E6E6;
}

.progressbar {
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
}

.progressbar-text {
  text-align: center;
  position: absolute;
}

.progressbar-value {
  position: relative;
  overflow: hidden;
  width: 0;
  -moz-border-radius: 0px 0 0 0px;
  -webkit-border-radius: 0px 0 0 0px;
  border-radius: 0px 0 0 0px;
}

.progressbar {
  border-color: #ddd;
}

.progressbar-text {
  color: #444;
  font-size: 12px;
}

.progressbar-value .progressbar-text {
  background-color: #CCE6FF;
  color: #000;
}

.searchbox {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.searchbox .searchbox-text {
  font-size: 12px;
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 20px;
  height: 20px;
  *margin-top: -1px;
  *height: 18px;
  *line-height: 18px;
  _height: 18px;
  _line-height: 18px;
  vertical-align: baseline;
}

.searchbox .searchbox-prompt {
  font-size: 12px;
  color: #ccc;
}

.searchbox-button {
  width: 18px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.searchbox-button-hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.searchbox a.l-btn-plain {
  height: 20px;
  border: 0;
  padding: 0 6px 0 0;
  vertical-align: top;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.searchbox a.l-btn .l-btn-left {
  padding: 2px 0 2px 4px;
}

.searchbox a.l-btn-plain:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  padding: 0 6px 0 0;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.searchbox a.m-btn-plain-active {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.searchbox-button {
  background: url('images/searchbox_button.png') no-repeat center center;
}

.searchbox {
  border-color: #ddd;
  background-color: #fff;
}

.searchbox a.l-btn-plain {
  background: #ffffff;
}

.slider-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.slider-h {
  height: 22px;
}

.slider-v {
  width: 22px;
}

.slider-inner {
  position: relative;
  height: 6px;
  top: 7px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
}

.slider-handle {
  position: absolute;
  display: block;
  outline: none;
  width: 20px;
  height: 20px;
  top: -7px;
  margin-left: -10px;
}

.slider-tip {
  position: absolute;
  display: inline-block;
  line-height: 12px;
  font-size: 12px;
  white-space: nowrap;
  top: -22px;
}

.slider-rule {
  position: relative;
  top: 15px;
}

.slider-rule span {
  position: absolute;
  display: inline-block;
  font-size: 0;
  height: 5px;
  border-width: 0 0 0 1px;
  border-style: solid;
}

.slider-rulelabel {
  position: relative;
  top: 20px;
}

.slider-rulelabel span {
  position: absolute;
  display: inline-block;
  font-size: 12px;
}

.slider-v .slider-inner {
  width: 6px;
  left: 7px;
  top: 0;
  float: left;
}

.slider-v .slider-handle {
  left: 3px;
  margin-top: -10px;
}

.slider-v .slider-tip {
  left: -10px;
  margin-top: -6px;
}

.slider-v .slider-rule {
  float: left;
  top: 0;
  left: 16px;
}

.slider-v .slider-rule span {
  width: 5px;
  height: 'auto';
  border-left: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.slider-v .slider-rulelabel {
  float: left;
  top: 0;
  left: 23px;
}

.slider-handle {
  background: url('images/slider_handle.png') no-repeat;
}

.slider-inner {
  border-color: #ddd;
  background: #ffffff;
}

.slider-rule span {
  border-color: #ddd;
}

.slider-rulelabel span {
  color: #444;
}

.menu {
  position: absolute;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.menu-item {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.menu-text {
  height: 28px;
  line-height: 28px;
  float: left;
  padding-left: 36px;
}

.menu-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 50%;
  margin-top: -8px;
}

.menu-rightarrow {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  margin-top: -8px;
}

.menu-line {
  position: absolute;
  left: 26px;
  top: 0;
  height: 2000px;
  font-size: 1px;
  z-index: 1;
}

.menu-sep {
  margin: 3px 0px 3px 25px;
  font-size: 1px;
}

.menu-active {
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.menu-item-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}

.menu-text,
.menu-text span {
  font-size: 13px;
}

.menu-shadow {
  position: absolute;
  background: rgba(0,0,0,.1);
  -moz-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
  box-shadow: 1px 2px 1px rgba(0,0,0,.1);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}

.menu-rightarrow {
  background: url('images/menu_arrows.png') no-repeat -32px center;
}

.menu-line {
  border-left: 1px solid #2c3e50;
  border-right: 1px solid #34495e;
}

.menu-sep {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

.menu {
  background-color: #34495e;
  border-color: #34495e;
  color: #fbfbfb;
}

.menu-content {
  background: #fff;
}

.menu-item {
  border-color: #34495e;
  background-color: #34495e;
  border-bottom-color: #2c3e50;
  _border-color: #ffffff;
  height: 28px !important;
}

.menu-active {
  border-color: #2c3e50;
  color: #fbfbfb;
  background: #2c3e50;
}

.menu-active-disabled {
  border-color: transparent;
  background: transparent;
  color: #444;
}

.m-btn-downarrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 13px;
  _vertical-align: middle;
}

a.m-btn-active {
  background-position: bottom right;
}

a.m-btn-active span.l-btn-left {
  background-position: bottom left;
}

a.m-btn-plain-active {
  background: transparent;
  border-width: 1px;
  border-style: solid;
}

.m-btn-downarrow {
  background: url('images/menu_arrows.png') no-repeat 2px center;
}

a.m-btn-plain-active {
  border-color: #ecf0f1;
  background-color: #ecf0f1;
  color: #333333;
  border: 1px solid #dfdfdf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(251, 251, 251, 0.1)), color-stop(50%, rgba(251, 251, 251, 0.1)), color-stop(51%, rgba(51, 51, 51, 0.1)), color-stop(100%, rgba(51, 51, 51, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: -moz-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: -o-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.s-btn-downarrow {
  display: inline-block;
  margin: 0 0 0 4px;
  padding: 0 0 0 1px;
  width: 14px;
  height: 16px;
  line-height: 16px;
  border-width: 0;
  border-style: solid;
  font-size: 12px;
  _vertical-align: middle;
}

a.s-btn-active {
  background-position: bottom right;
}

a.s-btn-active span.l-btn-left {
  background-position: bottom left;
}

a.s-btn-plain-active {
  border-width: 1px;
  border-style: solid;
}

.s-btn-downarrow {
  background: url('images/menu_arrows.png') no-repeat 2px center;
  border-color: #b3b3b3;
}

a:hover.l-btn .s-btn-downarrow,
a.s-btn-active .s-btn-downarrow,
a.s-btn-plain-active .s-btn-downarrow {
  background-position: 1px center;
  padding: 0;
  border-width: 0 0 0 1px;
}

a.s-btn-plain-active {
  border-color: #ecf0f1;
  background-color: #ecf0f1;
  color: #333333;
  border: 1px solid #dfdfdf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(251, 251, 251, 0.1)), color-stop(50%, rgba(251, 251, 251, 0.1)), color-stop(51%, rgba(51, 51, 51, 0.1)), color-stop(100%, rgba(51, 51, 51, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: -moz-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: -o-linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  background-image: linear-gradient(top, rgba(251, 251, 251, 0.1), rgba(251, 251, 251, 0.1) 50%, rgba(51, 51, 51, 0.1) 51%, rgba(51, 51, 51, 0.1));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.messager-body {
  padding: 10px;
  overflow: hidden;
}

.messager-button {
  text-align: center;
  padding-top: 10px;
}

.messager-icon {
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 10px 10px 0;
}

.messager-error {
  background: url('images/messager_icons.png') no-repeat scroll -64px 0;
}

.messager-info {
  background: url('images/messager_icons.png') no-repeat scroll 0 0;
}

.messager-question {
  background: url('images/messager_icons.png') no-repeat scroll -32px 0;
}

.messager-warning {
  background: url('images/messager_icons.png') no-repeat scroll -96px 0;
}

.messager-progress {
  padding: 10px;
}

.messager-p-msg {
  margin-bottom: 5px;
}

.messager-body .messager-input {
  width: 100%;
  padding: 1px 0;
  border: 1px solid #ddd;
}

.tree {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tree li {
  white-space: nowrap;
}

.tree li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tree-node {
  height: 18px;
  white-space: nowrap;
  cursor: pointer;
}

.tree-hit {
  cursor: pointer;
}

.tree-expanded,
.tree-collapsed,
.tree-folder,
.tree-file,
.tree-checkbox,
.tree-indent {
  display: inline-block;
  width: 16px;
  height: 18px;
  vertical-align: top;
  overflow: hidden;
}

.tree-expanded {
  background: url('images/tree_icons.png') no-repeat -18px 0px;
}

.tree-expanded-hover {
  background: url('images/tree_icons.png') no-repeat -50px 0px;
}

.tree-collapsed {
  background: url('images/tree_icons.png') no-repeat 0px 0px;
}

.tree-collapsed-hover {
  background: url('images/tree_icons.png') no-repeat -32px 0px;
}

.tree-lines .tree-expanded,
.tree-lines .tree-root-first .tree-expanded {
  background: url('images/tree_icons.png') no-repeat -144px 0;
}

.tree-lines .tree-collapsed,
.tree-lines .tree-root-first .tree-collapsed {
  background: url('images/tree_icons.png') no-repeat -128px 0;
}

.tree-lines .tree-node-last .tree-expanded,
.tree-lines .tree-root-one .tree-expanded {
  background: url('images/tree_icons.png') no-repeat -80px 0;
}

.tree-lines .tree-node-last .tree-collapsed,
.tree-lines .tree-root-one .tree-collapsed {
  background: url('images/tree_icons.png') no-repeat -64px 0;
}

.tree-line {
  background: url('images/tree_icons.png') no-repeat -176px 0;
}

.tree-join {
  background: url('images/tree_icons.png') no-repeat -192px 0;
}

.tree-joinbottom {
  background: url('images/tree_icons.png') no-repeat -160px 0;
}

.tree-folder {
  background: url('images/tree_icons.png') no-repeat -208px 0;
}

.tree-folder-open {
  background: url('images/tree_icons.png') no-repeat -224px 0;
}

.tree-file {
  background: url('images/tree_icons.png') no-repeat -240px 0;
}

.tree-loading {
  background: url('images/loading.gif') no-repeat center center;
}

.tree-checkbox0 {
  background: url('images/tree_icons.png') no-repeat -208px -18px;
}

.tree-checkbox1 {
  background: url('images/tree_icons.png') no-repeat -224px -18px;
}

.tree-checkbox2 {
  background: url('images/tree_icons.png') no-repeat -240px -18px;
}

.tree-title {
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  padding: 0 2px;
  height: 18px;
  line-height: 18px;
}

.tree-node-proxy {
  font-size: 12px;
  line-height: 20px;
  padding: 0 2px 0 20px;
  border-width: 1px;
  border-style: solid;
  z-index: 9900000;
}

.tree-dnd-icon {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 18px;
  left: 2px;
  top: 50%;
  margin-top: -9px;
}

.tree-dnd-yes {
  background: url('images/tree_icons.png') no-repeat -256px 0;
}

.tree-dnd-no {
  background: url('images/tree_icons.png') no-repeat -256px -18px;
}

.tree-node-top {
  border-top: 1px dotted red;
}

.tree-node-bottom {
  border-bottom: 1px dotted red;
}

.tree-node-append .tree-title {
  border: 1px dotted red;
}

.tree-editor {
  border: 1px solid #ccc;
  font-size: 12px;
  height: 14px !important;
  height: 18px;
  line-height: 14px;
  padding: 1px 2px;
  width: 80px;
  position: absolute;
  top: 0;
}

.tree-node-proxy {
  background-color: #fff;
  color: #444;
  border-color: #ddd;
}

.tree-node-hover {
  background: #E6E6E6;
  color: #444;
}

.tree-node-selected {
  background: #CCE6FF;
  color: #000;
}

.validatebox-invalid {
  background-image: url('images/validatebox_warning.png');
  background-repeat: no-repeat;
  background-position: right center;
  border-color: #ffa8a8;
  background-color: #fff3f3;
  color: #000;
}

.tooltip {
  position: absolute;
  display: none;
  z-index: 9900000;
  outline: none;
  padding: 2px 4px;
  border-width: 1px;
  border-style: solid;
  height: 16px;
}

.tooltip-content {
  font-size: 11px;
  line-height: 16px;
}

.tooltip-arrow-outer,
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  _border-color: tomato;
  _filter: chroma(color=tomato);
}

.tooltip-right .tooltip-arrow-outer {
  left: 0;
  top: 50%;
  margin: -6px 0 0 -13px;
}

.tooltip-right .tooltip-arrow {
  left: 0;
  top: 50%;
  margin: -6px 0 0 -12px;
}

.tooltip-left .tooltip-arrow-outer {
  right: 0;
  top: 50%;
  margin: -6px -13px 0 0;
}

.tooltip-left .tooltip-arrow {
  right: 0;
  top: 50%;
  margin: -6px -12px 0 0;
}

.tooltip-top .tooltip-arrow-outer {
  bottom: 0;
  left: 50%;
  margin: 0 0 -9px -4px;
}

.tooltip-top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin: 0 0 -9px -4px;
}

.tooltip-bottom .tooltip-arrow-outer {
  top: 0;
  left: 50%;
  margin: -13px 0 0 -6px;
}

.tooltip-bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin: -12px 0 0 -6px;
}

.tooltip {
  background-color: #34495e;
  border-color: #34495e;
  color: #fbfbfb;
}

.tooltip-right .tooltip-arrow-outer {
  border-right-color: #ddd;
}

.tooltip-right .tooltip-arrow {
  border-right-color: #fff;
}

.tooltip-left .tooltip-arrow-outer {
  border-left-color: #ddd;
}

.tooltip-left .tooltip-arrow {
  border-left-color: #fff;
}

.tooltip-top .tooltip-arrow-outer {
  border-top-color: #ddd;
}

.tooltip-top .tooltip-arrow {
  border-top-color: #fff;
}

.tooltip-bottom .tooltip-arrow-outer {
  border-bottom-color: #ddd;
}

.tooltip-bottom .tooltip-arrow {
  border-bottom-color: #fff;
}

/**
 * Menubar
 */
.easyui-menubar {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
  font-size: 0px;
}

.easyui-menubar li {
  display: block;
}

.menubar-link,
.menubar-title,
.menubar-icon,
.menubar-tools {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menubar-link {
  display: block;
  border: 1px solid #34495e;
  border-bottom-color: #2c3e50;
  background-color: #34495e;
  color: #fbfbfb;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.menubar-link:hover,
.menubar-link:active {
  cursor: pointer;
  color: #fbfbfb;
  border-color: #2980b9;
  background-color: #2980b9;
}

.menubar-link.active {
  color: #fbfbfb;
  border-color: #3498db;
  background-color: #3498db;
}

.menubar-title,
.menubar-icon,
.menubar-tools {
  height: 36px;
  padding: 10px;
  font-weight: normal;
  font-size: 13px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.menubar-icon,
.menubar-tools {
  width: 36px;
  padding: 10px 0px;
  text-align: center;
}

.menubar-icon + .menubar-title {
  padding-left: 0px;
}

.layout-button-left,.layout-button-down,.layout-button-right,.layout-button-up {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('images/layout_arrows.svg');
  background-repeat: no-repeat;
}

.layout-button-left {
  background-position: 0 0;
}

.layout-button-down {
  background-position: -32px 0;
}

.layout-button-right {
  background-position: 0 -32px;
}

.layout-button-up {
  background-position: -32px -32px;
}

.tabs .tabs-selected .tabs-inner {
  border-color: #ecf0f1;
}

.tabs-scroller-left {
  border-color: #7f8c8d;
}

.tabs-scroller-right {
  border-color: #7f8c8d;
}

.tabs-scroller-left.tabs-scroller-over {
  border-color: #bdc3c7;
}

.tabs-scroller-right.tabs-scroller-over {
  border-color: #bdc3c7;
}

.tabs li a.tabs-inner {
  border-color: #95a5a6;
}

.tabs-header {
  border-bottom: 4px solid #ecf0f1;
}

.tabs-scroller-left,.tabs-scroller-right,.tabs li a.tabs-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('images/tabs_icons.svg');
  background-repeat: no-repeat;
}

.tabs-scroller-left {
  background-position: 0 50%;
  border-right-width: 4px;
  border-left-width: 4px;
}

.tabs-scroller-right {
  background-position: -32px 50%;
  border-right-width: 4px;
  border-left-width: 4px;
}

.tabs li a.tabs-close {
  background-position: -64px 0;
}

.tabs .tabs-selected .tabs-close {
  background-image: url('images/tabs_icons_reverse.svg');
}

.icon-demo {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-image: url('../../icons/demo.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.icon-demo-medium {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  background-image: url('../../icons/demo.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.icon-demo-large {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  background-image: url('../../icons/demo.svg');
  background-repeat: no-repeat;
  background-size: 80px 80px;
}

label,
input,
select,
textarea {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 26px;
  line-height: 16px;
  font-weight: normal;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #333333;
}

label {
  font-size: 11px;
  padding: 5px 0px;
}

input,
select,
textarea {
  border: 1px solid #ecf0f1;
  font-size: 13px;
  padding: 4px;
}

input:focus,
select:focus,
textarea:focus {
  color: #333333;
  border-color: #bdc3c7;
}

input[type="submit"],
input[type="reset"] {
  background-color: #ecf0f1;
  padding: 4px 8px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="submit"]:active,
input[type="reset"]:active {
  cursor: pointer;
  color: #333333;
  border-color: #bdc3c7;
  background-color: #bdc3c7;
}

textarea,
select[multiple] {
  height: auto;
  vertical-align: top;
}

.easyui-form {
  padding: 10px;
}

.easyui-form table {
  width: 100%;
}

.easyui-form label,
.easyui-form input,
.easyui-form select,
.easyui-form textarea {
  width: 100%;
}

.datagrid-header-row td {
  background-color: #ecf0f1;
  border-color: #95a5a6;
}

.datagrid-header-over {
  background: #bdc3c7;
}

.datagrid-header td.datagrid-header-over {
  background: #f3f5f6;
}

.datagrid-row-selected td .datagrid-cell-rownumber {
  color: #333333;
}

.green {
  background-color: #1abc9c;
}

.green_over {
  background-color: #16a085;
}

.greenlight {
  background-color: #2ecc71;
}

.greenlight_over {
  background-color: #27ae60;
}

.blue {
  background-color: #3498db;
}

.blue_over {
  background-color: #2980b9;
}

.purple {
  background-color: #9b59b6;
}

.purple_over {
  background-color: #8e44ad;
}

.dark {
  background-color: #34495e;
}

.dark_over {
  background-color: #2c3e50;
}

.yellow {
  background-color: #f1c40f;
}

.yellow_over {
  background-color: #f39c12;
}

.orange {
  background-color: #e67e22;
}

.orange_over {
  background-color: #d35400;
}

.red {
  background-color: #e74c3c;
}

.red_over {
  background-color: #c0392b;
}

.graylight {
  background-color: #ecf0f1;
}

.graylight_over {
  background-color: #bdc3c7;
}

.gray {
  background-color: #95a5a6;
}

.gray_over {
  background-color: #7f8c8d;
}

.info {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.info-body,
.info-button {
  display: block;
  -wenkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*height: 30px;*/
  padding: 6px 10px;
  border: 1px solid #1abc9c;
  background-color: #1abc9c;
  font-weight: normal;
  font-size: 13px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.9);
}

.info-body {
  height: 94px;
}

.info-body > .row > .col8 p,
.info-body > .row > .col8 h1 {
  vertical-align: middle;
  text-align: right;
  margin: 15px 0;
}

.info-button {
  height: 30px;
  border-color: #18ae90;
  background-color: #18ae90;
}

.info-button:hover,
.info-button:active {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  border-color: #16a085;
  background-color: #16a085;
}

.info-greenlight > .info-body {
  color: rgba(255, 255, 255, 0.9);
  border-color: #2ecc71;
  background-color: #2ecc71;
}

.info-greenlight > .info-button {
  color: rgba(255, 255, 255, 0.9);
  border-color: #2abd68;
  background-color: #2abd68;
}

.info-greenlight > .info-button:hover,
.info-greenlight > .info-button:active {
  color: rgba(255, 255, 255, 0.9);
  border-color: #27ae60;
  background-color: #27ae60;
}

.info-purple > .info-body {
  color: rgba(255, 255, 255, 0.9);
  border-color: #9b59b6;
  background-color: #9b59b6;
}

.info-purple > .info-button {
  color: rgba(255, 255, 255, 0.9);
  border-color: #944eb1;
  background-color: #944eb1;
}

.info-purple > .info-button:hover,
.info-purple > .info-button:active {
  color: rgba(255, 255, 255, 0.9);
  border-color: #8e44ad;
  background-color: #8e44ad;
}

.info-blue > .info-body {
  color: rgba(255, 255, 255, 0.9);
  border-color: #3498db;
  background-color: #3498db;
}

.info-blue > .info-button {
  color: rgba(255, 255, 255, 0.9);
  border-color: #2e8cca;
  background-color: #2e8cca;
}

.info-blue > .info-button:hover,
.info-blue > .info-button:active {
  color: rgba(255, 255, 255, 0.9);
  border-color: #2980b9;
  background-color: #2980b9;
}

.row.total {
    padding: 10px 0px;
    border-bottom: 2px dashed #ecf0f1;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.total-price, .total-sign {
  font-size: 24px;
  line-height: 24px;
  color: #fbfbfb;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.col10.total-price {
    text-align: right;
}
.cart-field {
    margin-top: 10px;
    height: 34px !important;
    padding: 8px 6px;
    border-color: #ffffff;
    border-width: 0;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
}
.cart-button {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  display: block;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  width: 100%;
  padding: 10px 0px;
  border: 1px solid #ecf0f1;
  background-color: #ecf0f1;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.cart-button:hover,
.cart-button:active {
  cursor: pointer;
  color: #333333;
  border-color: #bdc3c7;
  background-color: #bdc3c7;
}
.cart-field:focus {
    border-color: #ffffff;
}
.cart-field .combo-text {
  height: 34px !important;
  padding: 8px 6px;
}
.cart-field .combo-arrow {
  height: 34px !important;
  width: 24px;
}
.combo-arrow-hover {
    background-color: #bdc3c7;
}

.cal-row {
    display: block;
    margin-top: 10px;
    font-size: 0px;
}
.cal-number,
.cal-button {
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    text-align: center;
    margin-right: 10px;
    font-size: 13px;
    height: 36px;
    width: 46px;
    border: 1px solid #ecf0f1;
    background-color: #ecf0f1;
    line-height: 36px;
    text-align: center;
    -webkit-user-select: none;    -khtml-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    -o-user-select: none;    user-select: none;
}
.cal-number:hover,
.cal-button:hover {
    border-color: #bdc3c7;
    background-color: #bdc3c7;
    cursor: pointer;
}

.cal-row {
    display: block;
    margin-top: 10px;
}

.cart-field-count {
    padding-bottom: 10px;
    border-bottom: 2px dashed #ecf0f1;
}

.cal-button {
    margin-right: 0px;
    width: 76px;
}

.cart-field-count .cart-field {
    text-align: right;
    font-size: 16px;
}
.cal-button.cal-button-green {
    border-color: #1abc9c;
    background-color: #1abc9c;
    color: #fbfbfb;
}
.cal-button.cal-button-green:hover {
    border-color: #16a085;
    background-color: #16a085;
}
.cal-button.cal-button-greenlight {
    border-color: #2ecc71;
    background-color: #2ecc71;
    color: #fbfbfb;
}
.cal-button.cal-button-greenlight:hover {
    border-color: #27ae60;
    background-color: #27ae60;
}
.cal-button.cal-button-purple {
    border-color: #9b59b6;
    background-color: #9b59b6;
    color: #fbfbfb;
}
.cal-button.cal-button-purple:hover {
    border-color: #8e44ad;
    background-color: #8e44ad;
}
.cal-button.cal-button-blue {
    border-color: #3498db;
    background-color: #3498db;
    color: #fbfbfb;
}
.cal-button.cal-button-blue:hover {
    border-color: #2980b9;
    background-color: #2980b9;
}
.cart-label {
    height: 34px;
    margin-top: 10px;
    padding: 10px 0px;
    color: #fbfbfb;
}

.menubar-link-red {
    color: #fbfbfb;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.menubar-link-red:hover {
    color: #fbfbfb;
    background-color: #c0392b;
    border-color: #c0392b;
}
.menubar-link-red.active {
    color: #fbfbfb;  
    background-color: #c0392b;  
    border-color: #c0392b;
}

.cal-number.cal-number-span {
    width: 104px;
}

.easyui-calculator {
    -webkit-user-select: none;    
    -khtml-user-select: none;    
    -moz-user-select: none;   
    -ms-user-select: none;    
    -o-user-select: none;    
    user-select: none;
}

.total-price {
    border-width: 0px;
    background: transparent;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
    height: 24px;
}

.profile {
    padding: 10px 0px;
    border-bottom: 1px solid #2c3e50;
}
.profile-text {
  display: block;
  vertical-align: bottom;
  margin: 15px 0px;
  color: #fbfbfb;
}
h1.profile-text {
  margin-bottom: 0px;
}
p.profile-text {
  margin-top: 10px;
}
.profile-image {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: center center;
}

.calendar table th {
    height: 18px;
    width: 26px;
}
